.main{
    margin-top: 100px;
}
.logo{
    display: block;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.input-field{
    display: block;
    width: 400px;
    margin: 0px auto;
    height: 24px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn{
    margin-top: 30px;
    margin-right: 10px; 
    background: #dfe1e5;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}